.gallery {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;

}

.card {
    width: 200px;
    height: 300px;
    margin: 10px;
    box-sizing: border-box;
    display: block;
    
}
